@import "tailwindcss";

:root {
  --background: #5175b0;  
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #dbeafe;  
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: initial;
}